*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# netbean
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
/Assignment2/DistributedLoanManagementSystem/nbproject/private/
/Assignment2/BankClient/nbproject/private/
/Assignment2/Bank/nbproject/private/
/Assignment2/BankManager/nbproject/private/
/Assignment3/Bank/nbproject/private/
/Assignment3/BankClient/nbproject/private/